# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
env/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# IDE
.vscode/
.idea/

# Temporary files
*.tmp

# Python build
build/
dist/

# Environment variables
.env